.img-product{
width: 100%;
padding: 20px;
}
.discount-text{
    padding: 5px 8px;
    border-radius: 20px;
    background-color: red;
    color:white;
}
.price-discount{
text-decoration:line-through;
}